.form_around_container {
  margin-top:5rem;
  padding: 20px 20px 20px 20px;
}
.footer_links {
  margin-top:20px;
}

.form-actions {
  margin-left:-10px;
  border: 1px solid red;
}

.form-actions input {
  background-color: #1EDD88;
  border-radius: 8px;
}

