.form_around_container {
  padding: 20px 20px 20px 20px;
}
.footer_links {
text-align: center;
color: #F76360;
font-weight: bold;
}

.form-actions input {
  background-color: #55BF80;
  border-radius: 8px;
}

#cancel {
  background-color: #F76360 !important;

}
