@import "show";
// Import page-specific CSS files here.

// Style for the chatrrom index pages

.chatrooms-list {
  list-style-type: none;
  padding-inline-start: 0px;
}

.chatrooms-list>li>a:hover {
text-decoration: none;
}
>>>>>>> master
