.form_container {
  margin: 30px 50px 100px 50px;
  font-size: 19px;
  h1 {
  padding-left:20px;
  font-size: 28px;
}
}

.message-container {
  width: 80%;

}
.form-control {
  width:70%;
}
.toptext-of-form {
  margin:auto;
  border: 1px solid red;
  width: 100%;
}

.form_container_chatroom {
span {
  color: #FFA149;
}
}
.form_container_chatroom {textarea {
  boder:none;
  margin-top: 30px;
  margin-bottom: 30px;
}
}
.form_container_chatroom {
small {
  color: #747474;
  font-size:10px;
}
}

.form_container_chatroom {
input[type="submit" i] {
  background-color: #55BF80;
  min-width:35px;
  width:50%;
  border-radius: 7px;
  color: #FFFFFF;
  border: none;}
}
.form_container_chatroom {
input:hover {
  background-color: #2D8F55;
}
}

