<% if message.user == dog.user %>
  <div class="message-container receiver d-flex justify-content-start ml-3" id="message-<%= message.id %>">
    <p>
      <%= message.content %>
    </p>
  </div>
<% else %>
  <div class="message-container sender d-flex justify-content-end mr-3" id="message-<%= message.id %>">
    <p>
      <%= message.content %>
    </p>
  </div>
<% end %>







