<div class="message-container <%= message.user == current_user ? 'sender' : 'receiver' %>" id="message-<%= message.id %>" data-sender-id="<%= message.user.id %>">
  <p>
    <%= message.content %>
  </p>
</div>
