<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div style="height: 300px" class="carousel-item active">
      <%= cl_image_tag @dog.photos.first.key, :transformation=>[
  {:gravity=>"auto", :crop=>"fill"}], class: "d-block w-100"  %>
    </div>
    <% @dog.photos[1..-1].each do |photo, index| %>
    <div style="height: 300px" class="carousel-item">
      <%= cl_image_tag photo.key, :transformation=>[
  {:height=>500, :gravity=>"auto", :crop=>"fill"}], class: "d-block w-100"  %>
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<%= render 'shared/bottom-navbar' %>
