<div class="card-dog">
  <%= image_tag "https://via.placeholder.com/343x204.png?text=dog.photo", alt: "dog photo" %>
  <div class="card-dog-content d-flex justify-content-between">
    <div class="card-dog-content-info ml-3">
      <p><strong> <%= dog.name %></strong></p>
      <p>1,4km/ 4 photos</p>
    </div>
    <div class="card-dog-content-tag d-flex align-items-end">
      <p>TODO: ready to walk</p>
    </div>
  </div>
</div>

