  <% if @dog %>
    <div class="dropdown">
      <%= simple_form_for(@dog, remote: true, html: {class: "park-dropdown"}) do |f| %>
        <%= f.association :viewed_park, include_blank: false, label: false %>
        <%= f.submit class: "d-none", id: "dog-submit-button" %>
      <% end %>
    </div>
  <% end %>
