  <% if @dog %>
    <div class="park-selector d-flex align-items-center">
      <%= image_tag "tree_icon_60.png", alt: "Park", size: "30x30" %>
      <div class="dropdown ml-3">
        <%= simple_form_for(@dog, remote: true, html: {class: "park-dropdown"}) do |f| %>
          <%= f.association :viewed_park, include_blank: false, label: false %>
          <%= f.submit class: "d-none", id: "dog-submit-button" %>
        <% end %>
      </div>
    </div>
  <% end %>
