<%= link_to root_path(park: park) do  %>
        <h2><%= park.name %></h2>
          <% end %>
<br>
<p>
  <%= image_tag("dog_icon.png", size: "35x35", style: "margin-bottom: 20px", :alt => "little doggie") %>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= park.dogs.count %>
</p>
