<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, mollitia neque nihil ab tenetur modi itaque ratione explicabo. Beatae mollitia tempore, veritatis laborum, numquam tenetur quos amet, asperiores aspernatur quasi non culpa. Culpa error praesentium beatae ab ut tenetur facilis, fugit suscipit adipisci libero consequuntur? Nostrum labore quas, nobis odio?</p>
<div class="mt-5">
  <h1>Chatrooms</h1>
  <ul>
    <li>
      <% @chatrooms_as_sniffer.each do |chatroom| %>
      <%= link_to chatroom_path(chatroom)  do%>
         <%= chatroom.sniff.sniffer.name %>
      <% end %>
      <% end %>
    </li>
    <li>
      <% @chatrooms_as_sniffed.each do |chatroom| %>
      <%= link_to chatroom_path(chatroom)  do%>
         <%= chatroom.sniff.sniffer.name %>
      <% end %>
      <% end %>
</div>
</li>
</ul>
