<%= render 'shared/navbar-top' %>
<div style="margin-top: 5rem;" class="container">
  <h1 class="mb-4 mt">Your Chats</h1>
  <% @chatrooms.each_with_index do |chatroom, index| %>
    <%= render "components/card_chatroom", { chatroom: chatroom, index: index} %>
  <% end %>
</div>
<%= render 'shared/bottom-navbar' %>
