<div class="container" style="margin-top: 80px;">
  <h1 class="mb-4 mt">Sniffs</h1>
  <div class="received-sniffs-dogs">
    <% @received_sniffs.each do |sniff| %>
        <%= render 'components/card_dog_small', { dog: sniff.sniffer, sniff: sniff } %>
    <% end %>
  </div>
</div>


