<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-box">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="exampleModalLongTitle">Now it's time to add your dog!</h5>
      </div>
      <div class="modal-footer justify-content-center">
      <%= link_to "Continue",  new_user_dog_path(current_user), class: "modal-btn"  %>
      </div>
    </div>
  </div>
</div>
