<% if user_signed_in? %>
<nav class="navbar fixed-top navbar-dark bg-white">
  <%= link_to "Woof", root_path, class: "logo" %>
  <div>
    <%= image_tag "icons8-email-send-50", alt: "Send a message", size: "30x30", class: "mr-2"%>
    <%= link_to user_path(current_user) do %>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar"%>
    <% end %>
  </div>
</nav>
<% end %>
