<nav class="navbar fixed-top navbar-dark bg-white">
  <%= Woof %>
  <div>
    <%= image_tag "icons8-email-send-50", alt: "Send a message" %>
   <%= link_to root_path do %>
  <%= image_tag "icons8-menu-50", alt: "Profile" %>
  <% end %>
  </div>
</nav>
