.small-text-info {
  font-size: 10px;
  color: #121212;
}
.mapboxgl-control-container {
  display: none;
}
.mapboxgl-popup-content p {
  font-size: 24px;
  font-family: $body-font;
}

.mapboxgl-popup-content a:hover {
  text-decoration: none;
}
