.card-dog {
  position: relative;
  width: 100%;

  p {
    margin: 0;
  }
}

.card-dog-user {
  line-height: 1.6;

  img {
    float: left;
    display: inline-block;
    margin: 0 5px;
  }

  p {
    margin-left: 5px;
  }
}

.card-dog-photo-box {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-dog-content {
  background-color: white;
}

.card-dog-small {
  background-color: white;
  border: 1px solid #F4F3F3;
  border-radius: 8px;
  padding: 13px;
  position: relative;

  img {
    border-radius: 8px;
    height: 107px;
    object-fit: cover;
    width: 107px;
  }

  #category {
    color: $text-secondary;
  }
}

.card-chatroom {
  position: relative;

  .card-chatroom-content-last-message{
    color: $text-secondary;
  }
}
