.card-dog {
  border: 1px solid #F4F3F3;
  position: relative;
  width: 343px;

  img {
    border-radius: 8px 8px 0 0;
  }

  p {
    margin: 0;
  }
}

.card-dog-content {
  background-color: white;
  border-radius: 0 0 8px 8px;
}

.card-dog-small {
  background-color: white;
  border: 1px solid #F4F3F3;
  border-radius: 8px;
  padding: 13px;
  position: relative;

  img {
    border-radius: 8px;
    height: 107px;
    object-fit: cover;
    width: 107px;
  }

  #category {
    color: $text-secondary;
  }
}

.card-chatrooms {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-chatrooms img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-chatrooms h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.card-chatrooms p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-chatrooms .card-chatrooms-infos {
  padding: 16px;
  margin: 0 auto;
}
