.card-dog {
  border: 1px solid #F4F3F3;
  position: relative;
  width: 343px;
}

.card-dog img {
  border-radius: 8px 8px 0 0;
}

.card-dog p {
  margin: 0;
}

.card-dog-content {
  background-color: white;
  border-radius: 0 0 8px 8px;
}

