.navbar-top {
  background-color: $background-green;
  border-bottom: 1px solid $separator;
  height: 60px;
}

.navbar-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    margin-bottom: 0px;
    font-size: 12px;
  }
}

.navbar-top-chatroom {
  background: $background-green;
  border-bottom: 1px solid $separator;
  height: 60px;
}

.red-dot {
  background: $danger;
  border-radius: 50%;
  bottom: -5px;
  height: 5px;
  left: 15px;
  position: relative;
  width: 5px;
}

.navbar-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 0rem;
}

.toggle-opacity-out {
  opacity: 0;
  transition: opacity 1s;
}

.toggle-opacity-in {
  opacity: 1;
}
