#container-around-profil {
  margin: auto;
  padding-top:100px;
}

h1 {
  font-size:28px;
  text-align: center;
}

h3 {
  text-align:center;
}

#smaller-then-text {
  font-size:14px;
  color: #121212;
  text-align: center;
}

#content-container-profil {
padding-left: 50px;
margin-top:43px;
}

#second_ul {
padding-top:30px;
}

#second_ul ul li {
list-style-type: none;
margin-bottom: 10px;
}

#second_ul a {
  color:white;
}

#second_ul span {
  background-color: #1EDD88;
  padding: 5px;
  border-radius: 8px;
  color: white !important;
  margin-bottom: 20px;
}
