.qr_codecontainer_one {
  font-size:16px !important;
  h2 {
    font-size: 16px;
    color: #55BF80;
    text-align: center;
    font-family: $font-family-sans-serif;
    font-weight: 600;
  }
}

.show_username {
  background-color: white;
  padding: 10px 40px 10px 15px;
  margin:  0px 0px 20px 0px;
  border-radius: 16px;
 }

.show_email {
  background-color: white;
  padding: 10px 40px 10px 15px;
  margin: 20px 0px 10px 0px;
  border-radius: 16px;
}

.chatrooms-list_show {
  padding-left:0px;
}
.chatrooms-list_show li {
  list-style-type: none !important;
}
.form-check {
    display: block;
    padding-left: 1.25rem !important;
}
.bottom-links-container {
 text-align:center;
 margin-left:-30px !important;
}

.dog_name_on_user_show {
  background-color: white;
  padding: 10px 40px 10px 15px;
  margin:  0px 0px 12px 0px;
  border-radius: 16px;
}
.dog_breed_on_user_show {
  background-color: white;
  padding: 10px 40px 10px 15px;
  margin: 10px 0px 10px 0px;
  border-radius: 16px;
}
.lighter_font_on_user_show  {
  color: #747474!important;
  font-size:11px !important;
}
#dog_park_ids {
  border-radius:10px !important;
}
